div{
   display: inline-flex; 
   justify-content: center;
   flex-direction: column;
    gap: 100%;
    align-items: center;
    border:2px solid black;
    height:200px;
    width:200px;
    position:relative; 
    border-radius: 10%;
    
}
div:hover{
    border-radius:50%;
}
img{
    height:100%;
    width:100%;
    border-radius: 30%;
    overflow: hidden;
    object-fit: cover;
    /* align-items: center; */
    display:none;

}
div:hover>img{
    
    border-radius: 50%;
    display: inline-block;
    
}
p{
    position:absolute;
    font-size: x-large;
    background-color: blueviolet;
}
div:hover>p{
    font-size: xx-large;
    transition:all 2s ease-in;
    border-radius:2px;
}